.hairTest {
    width: 100%;
    margin: 0;
    height: 100vh;
    background-image: url("../img/back1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.hairTest2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #000000bf;
}