div {
  font-family: Basier, sans-serif !important;
}

p {
  font-family: Basier, sans-serif !important;
}

span {
  font-family: Basier, sans-serif !important;
}

h1 {
  font-family: Basier, sans-serif !important;
}

h2 {
  font-family: Basier, sans-serif !important;
}

h3 {
  font-family: Basier, sans-serif !important;
}

h4 {
  font-family: Basier, sans-serif !important;
}

h5 {
  font-family: Basier, sans-serif !important;
}

h6 {
  font-family: Basier, sans-serif !important;
}

button {
  font-family: Basier, sans-serif !important;
}

#button-2 {
  width: 200px;
  font-size: 18px;
  padding: 5px 5px;
  border-radius: 3px;
  font-family: "Unna", serif;
  color: #fff;
  border: 3px solid #343a40;
  background-image: -webkit-linear-gradient(
    30deg,
    #343a40 50%,
    transparent 50%
  );
  background-image: linear-gradient(30deg, #343a40 50%, transparent 50%);
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: 0%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
  border-radius: 10px;
}

#button-2:hover {
  background-position: 100%;
  color: #4e4e4e;
  font-family: "Unna", serif;
}

.sliderContainer {
  width: 90%;
  margin: auto;
}

.slick-arrow {
  background-color: black !important;
  width: 25px !important;
  height: 25px !important;
}

.slick-arrow::after {
  display: none !important;
}
